# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #
#             Generic gitignores             #
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #

##### JetBrains #####

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm and Rider
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

.idea/

# File-based project format
*.iws
*.iml
*.ipr

##### Visual Studio Code #####

.vscode/

##### Java #####

# Compiled class file
*.class

# Log file
*.log

# Maven
target/

##### JavaScript #####

# Dependency directories
node_modules/

##### Helm #####

# Chart dependencies
**/charts/*.tgz

##### Project specific #####

# Nothing
