name: OpenSSF

on:
  workflow_dispatch:
  branch_protection_rule:
  push:
    branches: [main, 'release/v*', next, next-major, beta, alpha]
  schedule:
    - cron: '24 3 * * *' # At 03:24 every day

permissions: read-all

jobs:
  scorecard-secure-supply-chain-analysis:
    name: Scorecard - Secure supply-chain analysis
    runs-on: ubuntu-22.04
    timeout-minutes: 120

    permissions:
      security-events: write # Required to upload found security gaps
      id-token: write # Required to publish results and get a badge

    steps:
      - name: Harden runner
        uses: step-security/harden-runner@63c24ba6bd7ba022e95695ff85de572c04a18142 # v2.7.0
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            github.com:443
            api.github.com:443
            api.osv.dev:443
            www.bestpractices.dev:443
            api.securityscorecards.dev:443
            oss-fuzz-build-logs.storage.googleapis.com:443
            rekor.sigstore.dev:443
            fulcio.sigstore.dev:443
            tuf-repo-cdn.sigstore.dev:443

      - name: Checkout repository
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          ref: main
          persist-credentials: false

      - name: Perform Scorecard Analysis
        uses: ossf/scorecard-action@0864cf19026789058feabb7e87baa5f140aac736 # v2.3.1
        with:
          results_file: results.sarif
          results_format: sarif
          repo_token: ${{ secrets.SCORECARD_TOKEN }}
          publish_results: true

      - name: Upload artifact
        uses: actions/upload-artifact@5d5d22a31266ced268874388b861e4b58bb5c2f3 # v4.3.1
        with:
          name: SARIF file
          path: results.sarif
          retention-days: 5

      - name: Upload to GitHub's code scanning dashboard
        uses: github/codeql-action/upload-sarif@e8893c57a1f3a2b659b6b55564fdfdbbd2982911 # v3.24.0
        with:
          sarif_file: results.sarif
